<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
            <li>
                <p><%= p.title %> (<%= p.quantity %>)</p>
                <form action="/remove-from-cart" method="POST">
                    <input type="hidden" value="<%= p._id %>" name="productId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="cart--total-price__space-between">
            <h3>Total Price :</h3>
            <h3>$ <%= totalPrice%></h3>
        </div>
        <div class="centered">
            <form method="POST" action="/create-order">
                <button type="submit" class="btn">Order Items</button>
            </form>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>