<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length>0){%>
        <ul>
            <%orders.forEach(order=>{%>
            <li>
                <h2>#<%=order.id%></h2>
                <ul>
                    <%order.products.forEach(product=>{%>
                    <li>
                        <%=product.title%> <%=product.OrderItem.quantity%> :
                        <%=product.price*product.OrderItem.quantity%>
                    </li>
                    <%})%>
                </ul>
            </li>
            <%})%>
        </ul>
        <%} else {%>
        <p>No order placed !</p>
        <%}%>

    </main>
    <%- include('../includes/end.ejs') %>